
/* polices*/
@font-face {
	/*logo*/
    font-family: 'amatic_scregular';
    src: url('police/amaticsc-regular-webfont.eot');
    src: url('police/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/amaticsc-regular-webfont.woff2') format('woff2'),
         url('police/amaticsc-regular-webfont.woff') format('woff'),
         url('police/amaticsc-regular-webfont.ttf') format('truetype'),
         url('police/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
	/*logo*/
    font-family: 'amaticbold';
    src: url('police/amatic-bold-webfont.eot');
    src: url('police/amatic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('police/amatic-bold-webfont.woff2') format('woff2'),
         url('police/amatic-bold-webfont.woff') format('woff'),
         url('police/amatic-bold-webfont.ttf') format('truetype'),
         url('police/amatic-bold-webfont.svg#amaticbold') format('svg');
    font-weight: bold;
    font-style: normal;}
@font-face {
	/*article:titre*/
	font-family: 'QuattrocentoRoman';
	src:url('police/QuattrocentoRoman.eot');
	src:url('police/QuattrocentoRoman.eot?#iefix') format('embedded-opentype'),
		url('police/QuattrocentoRoman.ttf') format('truetype'),
		url('police/QuattrocentoRoman.woff') format('woff'),
		url('police/QuattrocentoRoman.woff2') format('woff2');    
	font-weight: normal;
    font-style: normal;}
@font-face {
	/*article:sous-titre, contenu*/
	font-family: 'QuattrocentoSans';
	src:url('police/QuattrocentoSans.eot');
	src:url('police/QuattrocentoSans.eot?#iefix') format('embedded-opentype'),
		url('police/QuattrocentoSans-Regular.otf') format('opentype'),
		url('police/QuattrocentoSans.ttf') format('truetype'),
		url('police/QuattrocentoSans.woff') format('woff'),
		url('police/QuattrocentoSans.woff2') format('woff2');    
	font-weight: normal;
    font-style: normal;}
@font-face {
	/*article:sous-titre, contenu*/
	font-family: 'QuattrocentoSans';
	src:url('police/QuattrocentoSans-Bold.eot');
	src:url('police/QuattrocentoSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('police/QuattrocentoSans-Bold.ttf') format('truetype'),
		url('police/QuattrocentoSans-Bold.woff') format('woff'),
		url('police/QuattrocentoSans-Bold.woff2') format('woff2');
	font-weight: bold;
    font-style: normal;}
@font-face {
	/*article:sous-titre, contenu*/
	font-family: 'QuattrocentoSans';
	src:url('police/QuattrocentoSans-Italic.eot');
	src:url('police/QuattrocentoSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('police/QuattrocentoSans-Italic.ttf') format('truetype'),
		url('police/QuattrocentoSans-Italic.woff') format('woff'),
		url('police/QuattrocentoSans-Italic.woff2') format('woff2');
	font-weight: normal;
    font-style: italic;}		
@font-face {
	/*article:sous-titre, contenu*/
	font-family: 'QuattrocentoSans';
	src:url('police/QuattrocentoSans-BoldItalic.eot');
	src:url('police/QuattrocentoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('police/QuattrocentoSans-BoldItalic.ttf') format('truetype'),
		url('police/QuattrocentoSans-BoldItalic.woff') format('woff'),
		url('police/QuattrocentoSans-Bold.woff2') format('woff2');
		font-weight: bold;
    font-style: italic;}

/* generalités*/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

mark {
	background-color: transparent;
	color: inherit;
}

a, mark, em, strong
{
	text-decoration: none;
	color: inherit;
}

ul, li
{
	list-style-type: none;
}

* {box-sizing: border-box;}

.replacetext
{
	display: none;
}

.blur-text
{
 font-size:auto;
 transition:all 0.25s ease-in-out;
}

	.blur-text:hover
	{
	 -webkit-filter:blur(2rem);
	 -moz-filter:blur(2rem);
	 filter:blur(2rem);
	 transition:all 3s ease-in-out;
	}

.hover-reveal
{
	background-image: url('image/gif/glitter.gif');
	background-repeat: repeat-x;
	background-size: auto 100%;
	position: relative;
	background-position: center;
	color: inherit;
    font: inherit;
    font-size: inherit;
    cursor: default;
    position:relative;
}
	.hover-reveal:hover:after
	{
		content: inherit;
		object-fit: cover;
		display: block;
		position: absolute;
			left:20px;
			top:20px;
	}

	.hover-reveal.wtf:hover:after
	{
		content: url("https://media.giphy.com/media/LPdUmwrsRFAli/giphy.gif");
	}
	.hover-reveal.yes:hover::after
	{
		content: url("https://media.giphy.com/media/l1J9CyLu4JMV95Xyg/giphy-downsized.gif");
	}
/* aspect global */
.mobile-only
	{
		display: none;
	}

#wrapper
{
	display:block;
	margin:auto;
	background-image:url('image/bleu.jpg');
	background-repeat: no-repeat;
	background-size:cover  ;
	padding: 2%;
	font-family: 'QuattrocentoSans', Arial, sans;
	min-height: 100vh;
}
.inner
{
	margin: auto;
	padding:2%;
}

#header
{
	background-color: #ffffff;
	border-bottom: solid 1px rgb(234, 234, 234);
	color: #656565;
	text-transform:uppercase;
	font-size: 0.9em;
	height: 110px;
}
	#header .inner
	{
	display: flex;
	justify-content:space-between;
	align-items: center;
	/*! height: 140px; */
	margin:0px;
	padding: 0.8%;
	}

	#header .logo
	{
		font-size: 7em;
		align-items: center;
		justify-content: center;
	}

#main #inner
{
	margin: 0 3%
}
.nav-social
{
	display:flex;
	align-items: center;
	/*vertical-align: baseline;*/
	padding: 0px;
}
	.nav-social .icon
	{
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	margin-right: 15px;
	}
	
		.icon-youtube
		{
		background-image: url('image/icon-youtube.svg');
		}

		.icon-instagram
		{
			background-image: url('image/icon-instagram.svg');
		}

		.icon-facebook
		{
			background-image:url('image/icon-facebook.svg');
		}
.logo
{
	font-family: 'amatic_scregular', "arial black", sans;
	color: black;
	text-transform: uppercase; 
}

#main {background-color: rgb(245,245,245);}

.bouton-action
{
	text-align: center;
	justify-content: center;
  margin:auto;
	position: relative;
	margin-top:30px;
	margin-bottom: 30px;
	width: 150px;
	text-transform: lowercase;
	background-color:#ffffff;
	color: #3681f6;
	padding: 1em 2em;
	border:solid 2px #3681f6;
	cursor: pointer;
}

	.bouton-action:hover
	{
		color:#ffffff;
		background-color: #3681f6;
	}

#footer
{
	background-color: #f6f6f7;
	border-top: solid 1px rgb(234, 234, 234);
	color : #656565;
	font-size: 0.8em;
}
	#footer .inner
	{
	display: flex;
	justify-content:space-between;
	align-items: center;
	height: 80px;
	margin:0px;
	}

	#footer .logo
	{
		font-size: 1.5em;
	}

.ecris-moi /* bouton ecris-moi*/
{
	display: block;
	border:none;
	cursor:pointer;
	margin: auto;
	width: 240px;
	border-radius: 100px;
	padding: 1em 2em;
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-weight: bold;
	background-color: orange;
	font-size: 1em;
	outline: none;
	overflow: hidden;
	position: relative;
}

.ecris-moi::before
{
	--size:0;
	content:'';
  	position: absolute;
	left: var(--x);
	top:var(--y);
	width: var(--size);
	height:var(--size);
	background:radial-gradient(circle closest-side, #3681f6, transparent);
	transform: translate(-40%, -40%);
	transition: width 0.2s ease, height 0.2s ease;
}

.ecris-moi:hover::before
{
	--size:400px;
}
/*Popup bouton la suite*/
.popup .popuptext
{
	visibility:hidden ;
	width:160px;
	background-color:white;
	color: #656565;
	text-align: center;
	border-radius: 6px;
	border: 2px solid #656565;
	padding:6px;
	position: absolute;
	top:-90%;
	left:-5%;
	z-index: 1;
}

.popup .show 
{
    visibility: visible;
    -webkit-animation: fade-in 0.3s ease-in-out;
    animation: fade-in 0.3s ease-in-out;
}
	/*pop-up flèche*/
	.popup .popuptext::after
	{
		content: "";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
	    border-color: #656565 transparent transparent transparent;
	}

/*Animation*/
.fade-in
{
	animation:fade-in 1.25s ease-in-out;
	-webkit-animation : fade-in 1.25s ease-in-out;
	-moz-animation: fade-in 1.25s ease-in-out;
}

@keyframes fade-in
{
	from{opacity:0;}
	to{opacity: 1;}
}

@-webkit-keyframes fade-in
{
	from{opacity:0;}
	to{opacity: 1;}
}
/*MOBILE*/
@media screen and (max-device-width:480px), screen and (max-width:500px)
{
	.mobile-only{display: inline-block;}
	
	.not-on-mobile{display: none;}

	.savoir-plus
	{
		text-align: center;
		margin-right: 20px;
	}

	.ecris-moi
	{
		width: 90%;
	}
	#wrapper
	{
		display:block;
		margin:auto;
		background-image:none;
		padding: none;
		height: 100vh;
	}
	
	.inner
	{
		margin:auto;
		padding:5px;
	}

	#header .inner
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: 15px;
		height: 90px;
	}
		#header .logo
		{
			font-size: 6em;
		}
	#main #inner
{
	margin: 0;
}
}