@font-face {
  font-family: 'QuattrocentoSans';
  src:url('../police/QuattrocentoSans.eot');
  src:url('../police/QuattrocentoSans.eot?#iefix') format('embedded-opentype'),
    url('../police/QuattrocentoSans-Regular.otf') format('opentype'),
    url('../police/QuattrocentoSans.ttf') format('truetype'),
    url('../police/QuattrocentoSans.woff') format('woff'),
    url('../police/QuattrocentoSans.woff2') format('woff2');    
  font-weight: normal;
  font-style: normal;}

/* generalités*/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

mark {
  background-color: transparent;
  color: inherit;
}

a
{
  text-decoration: none;
  color: inherit;
}

ul, li
{
  list-style-type: none;
}

* {box-sizing: border-box;}

/*
input::placeholder, textarea::placeholder, 
input::-ms-placeholder, textarea::-ms-placeholder,
input::-moz-placeholder, textarea::-moz-placeholder;
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #656565;
  font-size: 1em;
}

input:focus::placeholder, textarea::focus:placeholder, 
input:focus::-moz-placeholder, textarea:focus::-moz-placeholder, 
input:focus::-ms-placeholder, textarea:focus::-ms-placeholder, 
input:focus::-webkit-input-placeholder, textarea:focus::-webkit-input-placeholder{
  color: #478efc;
}


/* on hover placeholder */

/*
input:hover::placeholder, textarea:hover::placeholder, 
input:hover::-webkit-input-placeholder, textarea:hover::-webkit-input-placeholder, 
input:hover::-moz-placeholder, textarea:hover::-moz-placeholder{
  color: #656565;
  font-size: 1em;
}

input:hover:focus::placeholder, textarea:hover:focus::placeholder, 
input:hover:focus::-webkit-input-placeholder, textarea:hover:focus::-webkit-input-placeholder, 
input:hover:focus::-moz-placeholder, textarea:hover:focus::-moz-placeholder, 
input:hover:focus::-ms-placeholder, textarea:hover::focus::-ms-placeholder {
  color: green;
}
*/


/*
#wrapper
{
  display:block;
  margin:auto;
  background-image:url('../img/bleu.jpg');
  background-repeat: no-repeat;
  background-size:cover;
  padding: 2% 2%;
  font-family: 'QuattrocentoSans', Arial, sans;
  height: 100vh;
}
*/

#inner
{
  background-color: #f5f5f5;
  display: flex;
  flex-direction: column;
  min-height: 100%;
  min-width: 98%;
  margin:auto;
}


header {
  position: relative;
  margin: auto;
  margin-bottom: 20px;
  font-size: 2.3em;
  text-align: center;
  letter-spacing: 7px;
  max-width:70%;
  cursor: default;
  border-bottom: dotted 2.5px;
  color: #082eac;

  animation-name: flash_border;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-name: flash_border;
  -webkit-animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: flash_border;
  -moz-animation-duration: 3.5s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
}

@keyframes flash_border {
  0% {border-color: red;}
  25% {border-color: #082eac;}
  50% {border-color: orange;}
  75% {border-color: pink;}
  100% {border-color: #800000;}
}



@media screen and (max-device-width:480px), screen and (max-width: 500px)
{
  #wrapper
  {
    display:block;
    margin:auto;
    background-image:none;
    padding: none;
  }

  header 
  {
  margin: 40px auto 15px auto;
  font-size: 2em;
  }

  #form 
  {
  width:100%;
  min-width: inherit;  
  }

  #submit {
  width: 100%;
}
