
/* polices*/
@font-face {
	/*logo*/
    font-family: 'amatic_scregular';
    src: url('../police/amaticsc-regular-webfont.eot');
    src: url('../police/amaticsc-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/amaticsc-regular-webfont.woff2') format('woff2'),
         url('../police/amaticsc-regular-webfont.woff') format('woff'),
         url('../police/amaticsc-regular-webfont.ttf') format('truetype'),
         url('../police/amaticsc-regular-webfont.svg#amatic_scregular') format('svg');
    font-weight: normal;
    font-style: normal;}
@font-face {
	/*logo*/
    font-family: 'amaticbold';
    src: url('../police/amatic-bold-webfont.eot');
    src: url('../police/amatic-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../police/amatic-bold-webfont.woff2') format('woff2'),
         url('../police/amatic-bold-webfont.woff') format('woff'),
         url('../police/amatic-bold-webfont.ttf') format('truetype'),
         url('../police/amatic-bold-webfont.svg#amaticbold') format('svg');
    font-weight: bold;
    font-style: normal;}
@font-face {
	/*article:titre*/
	font-family: 'QuattrocentoRoman';
	src:url('../police/QuattrocentoRoman.eot');
	src:url('../police/QuattrocentoRoman.eot?#iefix') format('embedded-opentype'),
		url('../police/QuattrocentoRoman.ttf') format('truetype'),
		url('../police/QuattrocentoRoman.woff') format('woff'),
		url('../police/QuattrocentoRoman.woff2') format('woff2');    
	font-weight: normal;
    font-style: normal;}
@font-face {
	/*article:sous-titre, contenu*/
	font-family: 'QuattrocentoSans';
	src:url('../police/QuattrocentoSans.eot');
	src:url('../police/QuattrocentoSans.eot?#iefix') format('embedded-opentype'),
		url('../police/QuattrocentoSans-Regular.otf') format('opentype'),
		url('../police/QuattrocentoSans.ttf') format('truetype'),
		url('../police/QuattrocentoSans.woff') format('woff'),
		url('../police/QuattrocentoSans.woff2') format('woff2');    
	font-weight: normal;
    font-style: normal;}
@font-face {
	/*article:sous-titre, contenu*/
	font-family: 'QuattrocentoSans';
	src:url('../police/QuattrocentoSans-Bold.eot');
	src:url('../police/QuattrocentoSans-Bold.eot?#iefix') format('embedded-opentype'),
		url('../police/QuattrocentoSans-Bold.ttf') format('truetype'),
		url('../police/QuattrocentoSans-Bold.woff') format('woff'),
		url('../police/QuattrocentoSans-Bold.woff2') format('woff2');
	font-weight: bold;
    font-style: normal;}
@font-face {
	/*article:sous-titre, contenu*/
	font-family: 'QuattrocentoSans';
	src:url('../police/QuattrocentoSans-Italic.eot');
	src:url('../police/QuattrocentoSans-Italic.eot?#iefix') format('embedded-opentype'),
		url('../police/QuattrocentoSans-Italic.ttf') format('truetype'),
		url('../police/QuattrocentoSans-Italic.woff') format('woff'),
		url('../police/QuattrocentoSans-Italic.woff2') format('woff2');
	font-weight: normal;
    font-style: italic;}		
@font-face {
	/*article:sous-titre, contenu*/
	font-family: 'QuattrocentoSans';
	src:url('../police/QuattrocentoSans-BoldItalic.eot');
	src:url('../police/QuattrocentoSans-BoldItalic.eot?#iefix') format('embedded-opentype'),
		url('../police/QuattrocentoSans-BoldItalic.ttf') format('truetype'),
		url('../police/QuattrocentoSans-BoldItalic.woff') format('woff'),
		url('../police/QuattrocentoSans-Bold.woff2') format('woff2');
		font-weight: bold;
    font-style: italic;}

/* generalités*/
html, body, div, span, applet, object,
iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, a, abbr, acronym, address, big, cite,
code, del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var, b,
u, i, center, dl, dt, dd, ol, ul, li, fieldset,
form, label, legend, table, caption, tbody,
tfoot, thead, tr, th, td, article, aside,
canvas, details, embed, figure, figcaption,
footer, header, hgroup, menu, nav, output, ruby,
section, summary, time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;}

table {
	border-collapse: collapse;
	border-spacing: 0;
}

mark {
	background-color: transparent;
	color: inherit;
}

a, mark, em, strong
{
	text-decoration: none;
	color: inherit;
}

ul, li
{
	list-style-type: none;
}

* {box-sizing: border-box;}

.replacetext
{
	display: none;
}

.titreseul {
  position: relative;
  margin: auto;
  margin-bottom: 30px;
  font-size: 2em;
  text-align: center;
  letter-spacing: 7px;
  max-width:auto;
  cursor: default;
}  

/*-----------------formulaire--------------------*/
#form {
  position: relative;
  margin:auto;
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width:50%;
  min-width: 470px;
  min-height: 260px;
  align-items: center;}

input {
  font-family: 'QuattrocentoSans', sans-serif;
  font-size: 1em;
  width: 100%;
  height: 50px;
  padding: 0px 15px 0px 15px;
  margin:-0.5px 0px 0px 0px;
  background: transparent;
  outline: none;
  color: #656565;
  border: solid 1px #082eac;
  border-bottom: none;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;}

input:hover {
  background: #082eac;
  color: #F5F5F5;}

textarea {
  width: 100%;
  height: 110px;
  max-height: 110px;
  padding: 15px;
  margin: -0.5px 0px 0px 0px;
  resize: none; 
  background: transparent;
  outline: none;
  color: #656565;
  font-family: 'QuattrocentoSans', sans-serif;
  font-size: 1.1em;
  border: solid 1px #082eac;
  transition: all 0.3s ease-in-out;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -ms-transition: all 0.3s ease-in-out;}

textarea:hover {
  background: #082eac;
  color: #F5F5F5;}

#submit {
  width: 20%;
  justify-content: center;
  align-content: center;
  padding: 0;
  margin: 12px 0px 0px 0px;
  font-family: 'QuattrocentoSans', sans-serif;
  font-size: 0.875em;
  font-weight: bold;
  background-color: orange;
  color:#656565;
  outline:none;
  cursor: pointer;
  border: solid 1px orange;
  border-top: none;}

#submit:hover {
  color: #62aafb;}

/* soulignement scintillant*/
span[class="flashborder"]
  {
  border-bottom: dotted 2.5px;

  animation-name: flash;
  animation-duration: 3.5s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
  -webkit-animation-name: flash;
  -webkit-animation-duration: 3.5s;
  -webkit-animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-name: flash;
  -moz-animation-duration: 3.5s;
  -moz-animation-timing-function: ease-in-out;
  -moz-animation-iteration-count: infinite;
}

span[class="flashtext"] {
 	color: 
 }
/* aspect global */
.mobile-only
	{
		display: none;
	}

#wrapper
{
	display:flex;
	flex-direction: column;
	margin:auto;
	background-image:url('../img/bleu.jpg');
	padding: 2%;
	font-family: 'QuattrocentoSans', Arial, sans;
	min-height: 100vh;
	position: relative;
}

.inner
{
	margin: auto;
	padding:2%;
	position: relative;
}

#header
{
	background-color: #ffffff;
	border-bottom: solid 1px rgb(234, 234, 234);
	color: #656565;
	text-transform:uppercase;
	font-size: 0.9em;
	height: 130px;
}
	#header .inner
	{
	display: flex;
	justify-content:space-between;
	align-items: center;
	/*! height: 140px; */
	margin:0px;
	padding: 0.8%;
	}

	#header .logo
	{
		font-size: 7em;
		align-items: center;
		justify-content: center;
	}

#main #inner
{
	margin: 3%
}
.nav-social
{
	display:flex;
	align-items: center;
	/*vertical-align: baseline;*/
	padding: 0px;
}
	.nav-social .icon
	{
	height: 16px;
	width: 16px;
	background-repeat: no-repeat;
	background-size: 100% 100%;
	display: inline-block;
	margin-right: 15px;
	}
	
		.icon-youtube
		{
		background-image: url('../img/icon-youtube.svg');
		}

		.icon-instagram
		{
			background-image: url('../img/icon-instagram.svg');
		}

		.icon-facebook
		{
			background-image:url('../img/icon-facebook.svg');
		}
.logo
{
	font-family: 'amatic_scregular', "arial black", sans;
	color: black;
	text-transform: uppercase; 
}

#main 
{
	background-color: rgb(245,245,245);
	flex-grow: 2;
}
.centre {
    display: flex;              /* establish flex container */
    flex-direction: column;     /* stack flex items vertically */
    justify-content: center;    /* center items vertically, in this case */
    align-items: center}


.bouton-action
{
	text-align: center;
	justify-content: center;
  	margin:auto;
	position: absolute;
	margin-top:30px;
	margin-bottom: 30px;
	width: 150px;
	text-transform: lowercase;
	background-color:#ffffff;
	color: #3681f6;
	padding: 1em 2em;
	border:solid 2px #3681f6;
	cursor: pointer;
}

	.bouton-action:hover
	{
		color:#ffffff;
		background-color: #3681f6;
	}

#footer
{
	background-color: #f6f6f7;
	border-top: solid 1px rgb(234, 234, 234);
	color : #656565;
	font-size: 0.8em;
}
	#footer .inner
	{
	display: flex;
	justify-content:space-between;
	align-items: center;
	height: 80px;
	margin:0px;
	}

	#footer .logo
	{
		font-size: 1.5em;
	}

.ecris-moi /* bouton ecris-moi*/
{
	display: block;
	border:none;
	cursor:pointer;
	margin: auto;
	width: 240px;
	border-radius: 100px;
	padding: 1em 2em;
	text-transform: uppercase;
	text-align: center;
	color: white;
	font-weight: bold;
	background-color: orange;
	font-size: 1em;
	outline: none;
	overflow: hidden;
	position: relative;
}

.ecris-moi::before
{
	--size:0;
	content:'';
  	position: absolute;
	left: var(--x);
	top:var(--y);
	width: var(--size);
	height:var(--size);
	background:radial-gradient(circle closest-side, #3681f6, transparent);
	transform: translate(-40%, -40%);
	transition: width 0.2s ease, height 0.2s ease;
}

.ecris-moi:hover::before
{
	--size:400px;
}
/*Popup bouton la suite*/
.popup .popuptext
{
	visibility:hidden ;
	width:160px;
	background-color:white;
	color: #656565;
	text-align: center;
	border-radius: 6px;
	border: 2px solid #656565;
	padding:6px;
	position: absolute;
	top:-90%;
	left:-5%;
	z-index: 0;
}

.popup .show {
    visibility: visible;
    -webkit-animation: fade-in 0.3s ease-in-out;
    animation: fade-in 0.3s ease-in-out; }
	/*pop-up flèche*/
	.popup .popuptext::after {
		content: "";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
	    border-color: #656565 transparent transparent transparent;}

/*--------------------Animation--------------------*/
.fade-in {
	animation:fade-in 1.25s ease-in-out;
	-webkit-animation : fade-in 1.25s ease-in-out;
	-moz-animation: fade-in 1.25s ease-in-out;}
	@keyframes fade-in {
		from{opacity:0;}
		to{opacity: 1;}}
	@-webkit-keyframes fade-in {
	from{opacity:0;}
	to{opacity: 1;}}

/* changement de couleur scintillant */
	@keyframes flash {
		0% {border-color: red;}
		25% {border-color: #082eac;}
		50% {border-color: orange;}
		75% {border-color: pink;}
		100% {border-color: #800000;}}
	@-webkit-keyframes flash {
  0% {border-color: red;}
  25% {border-color: #082eac;}
  50% {border-color: orange;}
  75% {border-color: pink;}
  100% {border-color: #800000;}}

/* text fondu*/
	.blur-text{
 font-size:auto;
 transition:all 0.25s ease-in-out;}
	.blur-text:hover {
	 -webkit-filter:blur(2rem);
	 -moz-filter:blur(2rem);
	 filter:blur(2rem);
	 transition:all 3s ease-in-out;}

/*paillettes en image de fond*/
.hover-reveal {
	background-image: url('../img/gif/glitter.gif');
	background-repeat: repeat-x;
	background-size: auto 100%;
	position: relative;
	background-position: center;
	color: inherit;
    font: inherit;
    font-size: inherit;
    cursor: default;
    position:relative;
    z-index: 6; }
	.hover-reveal:hover:after {
		content: inherit;
		object-fit: cover;
		display: block;
		position: absolute;
			left:20px;
			top:20px; }

		.hover-reveal.wtf:hover:after
		{
			content: url("https://media.giphy.com/media/LPdUmwrsRFAli/giphy.gif");
		}
		.hover-reveal.yes:hover::after
		{
			content: url("https://media.giphy.com/media/l1J9CyLu4JMV95Xyg/giphy-downsized.gif");
			position: absolute;
				left:40px;
				top:-20px; 
		}
		.hover-reveal.koons:hover::after
		{
			content: url("https://media.giphy.com/media/5xtDarJzHsCXqlbfkpa/giphy-downsized.gif");
			position: absolute;
				left:-50px;
				top:-200px;
		}
		.hover-reveal.youpi:hover:after
	  	{
	    content: url('https://media.giphy.com/media/3ePeApZEjyINeWGVGc/giphy.gif');
	  	}

.scintillant {
	animation-name:scintillant;
	animation-duration: 3.5s;
	animation-iteration-count: infinite;
	animation-timing-function:ease-in-out; }

@keyframes scintillant {
	0% {filter:hue-rotate(0deg);}
	25% {filter:hue-rotate(90deg);}
	50% {filter:hue-rotate(180deg);}
	75% {filter:hue-rotate(270deg);}
	100% {filter:hue-rotate(360deg)}}

/*MOBILE*/
@media screen and (max-device-width:480px), screen and (max-width:500px)
{
	.mobile-only{display: flex;}
	
	.not-on-mobile{display: none;}

	#form { 
	width:100%;
	min-width: inherit;  
	}

  	#submit {
  	width: 80%;
	}

	.savoir-plus
	{
		text-align: center;
		margin-right: 20px;
	}

	.ecris-moi
	{
		width: 90%;
	}
	#wrapper
	{
		margin:auto;
		background-image:none;
		padding: none;
		/*height: 100vh;*/
	}
	
	.inner
	{
		margin:auto;
		padding:5px;
	}

	#header {
		font-size: 1em;
	}
	#header .inner
	{
		display: flex;
		flex-direction: column;
		justify-content: space-around;
		margin: 15px;
		height: 90px;
	}
		#header .logo
		{
			font-size: 6em;
		}
	#main #inner
{
	margin: 0;
}

		.hover-reveal.yes:hover::after
		{
			position: absolute;
				left:-170px;
				top:-10px; 
		}
}