.console {
  color: lime;
  text-shadow: 0px 0px 0.1em limegreen, 0px 0px 0.1em green;
  margin-top: 30px;
  margin-bottom: 30px;
  font-size: 1.1em;
  margin-top: 10px;
}

.pink{
  color: fuchsia;
  text-shadow: 0px 0px 0.3em magenta, 0px 0px 0.1em green;
  font-size: 1.2em;
}

 .white{
  color: white;
  font-size: 1.2em;

 }

.yellow{
  color: yellow;
  text-shadow: 0px 0px 0.05em lime, 0px 0px 0.05em lime;
  font-size: 1.2em;
}


body {
  background-color: black;
  color: lime;
  font-family: Inconsolata, monospace;
  height: 100%;
}

html {
  height: inherit;
}

@-webkit-keyframes blink-caret { 
  0% {border-right-color: lime;}
  50% {border-right-color: transparent;}}

span .txt {
	border-right: 0.05em solid lime;
	white-space: pre;
	/*overflow: hidden;*/
  margin-top: 0px;
	-webkit-animation: blink-caret 0.7s infinite;
  -moz-transition: blink-caret 0.7s infinite;
  -ms-transition: blink-caret 0.7s infinite;
}

@media screen and (max-device-width:480px), screen and (max-width:500px)
{

body {font-size: 1.1em;}
span .txt {
  white-space: normal;
  overflow: auto;
  border-right: 0.07em solid lime
    -webkit-animation: blink-caret 0.8s infinite;
  -moz-transition: blink-caret 0.8s infinite;
  -ms-transition: blink-caret 0.8s infinite;
}