<!doctype html>
<html>
<head>
    <meta charset="utf-8">
	<link rel="stylesheet" href="{{ url_for('static', filename='css/marcypolis.css') }}">
	<!--CSS specifique pour page index ou article-->
	{% block specific_css %}
	{% endblock specific_css %}
	<link rel="apple-touch-icon" sizes="180x180" href="{{ url_for('static', filename='img/favicon/apple-touch-icon.png') }}">
	<link rel="icon" type="image/png" sizes="32x32" href="{{ url_for('static', filename='img/favicon/favicon-32x32.png') }}">
	<link rel="icon" type="image/png" sizes="16x16" href="{{ url_for('static', filename='img/favicon/favicon-16x16.png') }}">
	<link rel="manifest" href="{{ url_for('static', filename='img/favicon/site.webmanifest') }}">
	<link rel="mask-icon" href="{{ url_for('static', filename='img/favicon/safari-pinned-tab.svg') }}" color="#5bbad5">
	<meta name="msapplication-TileColor" content="#2b5797">
	<meta name="theme-color" content="#ffffff">
	<!--title-->
    {% block headtitle %}
	{% endblock headtitle %}
</head>
<body>
	<!--contenu-->
	<div id="wrapper">
		<!--header-->
			<header id="header">
					<div class="inner">
						<div id="left_header" class="blur-text not-on-mobile">
							<a href="{{ url_for('je_suis') }}" >je suis?</a>
						</div>
						<div class="logo">
							<a href="{{ url_for('index') }}"> marcypolis </a>
						</div>
						<div id="right_header">
							<ul class="nav-social">
								<li class="savoir-plus mobile-only blur-text"><a href="je-suis.html">je suis?</a></li>
								<li class="lien-facebook replacetext">
									<a href="#">
										<span class="icon icon-facebook blur-text"><span class="replacetext">facebook</span></span>
									</a>
								</li>
								<li class="lien-instagram">
									<a href="{{ ext_urls['instagram'] }}">		
										<span class="icon icon-instagram blur-text"><span class="replacetext">instagram</span></span>
									</a>						
								<li class="lien-youtube">
									<a href="{{ ext_urls['youtube'] }}">
										<span class="icon icon-youtube blur-text"><span class="replacetext">youtube</span></span>
									</a>
								</li>
						</div>
					</div>
			</header>
		<!--main-->
			{% block maincontent %}
			{% endblock maincontent %}
		<!--footer-->
			<div id="footer">
				<div class="inner">
					<div id="right_footer">
						<a href="index.html"> 
							<div class="logo">marcypolis</div>
						</a>
						<div class=licence>
							<a rel="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Licence Creative Commons Attribution<br/><span class="not-on-mobile">Partage dans les Mêmes Conditions 4.0 International</span></a>
						</div>
					</div>

					<ul class="nav-social">
						<li class="lien-facebook replacetext">
							<a href="#">
								<span class="label icon icon-facebook"></span>
							</a>
						</li>
						<li class="lien-instagram">
							<a href="{{ ext_urls['instagram'] }}">		
								<span class="blur-text label icon icon-instagram"></span>
							</a>						
						<li class="lien-youtube">
							<a href="{{ ext_urls['youtube'] }}">
								<span class="blur-text label icon icon-youtube"></span>
							</a>
						</li>
				</div>
			</div>
	</div>

	<!--script-->
	<script type="text/javascript" href>
	document.querySelector('.ecris-moi').onmousemove = (e) => 
	{
		const x = e.pageX - e.target.offsetLeft
		const Y = e.pageY - e.target.offsetTop

		e.target.style.setProperty('--x',`${ x }px`)
		e.target.style.setProperty('--y',`${ y }px`)
	}
	</script>
</body>
</html>

