{% extends "base.html" %}

{% block specific_css %}

{% endblock specific_css %}

{% block headtitle %}
Contact - Marcypolis
{% endblock headtitle %}

{% block maincontent %}
<div id="main">
	<div id="inner">
		<h1 class="titreseul" title="Ecris-moooooiiiiiiii"><span class="flashborder">Ecris-moi</span></h1>

		<form id="form" method="post" action="https://formspree.io/marcy.pondi@gmail.com">
			<input id="name" type="text" placeholder="NOM">
			<input id="email" type="text" placeholder="MAIL">
			<textarea id="message" type="text" placeholder="Un bug à signaler, une idée, un mot d'amour?"></textarea>
			<input id="submit" type="submit" value="GO!">
		</form>
	</div>
</div>
{% endblock maincontent %}
