{% extends "base.html" %}

<!--CSS specific-->
{% block specific_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
{% endblock specific_css %}

<!--titre head = titre de l'article + - Marcypolis-->
{% block headtitle %}
{{ page.titre}} - Marcypolis
{% endblock headtitle %}

{% block maincontent %}
	<div id="main">

		<div id="inner">
		<!--1=portrait//2=paysage//3=titre seul//0=rien-->
			{% if page.portrait==1 %}
				<section class="titre format-portrait">
					<div class="titre-texte">
						{% if page.titre_page %}
							<h1 class="principal">{{ page.titre_page|safe }}</h1>
						{% else %}
							<h1 class="principal">{{ page.titre|safe }}</h1>
						{% endif %}
						{% if page.soustitre_page %}
							<h2 class="sous-titre">{{ page.soustitre_page|safe }}</h2>
						{% else %}
							<h2 class="sous-titre">{{ page.soustitre|safe }}</h2>
						{% endif %}
						<div class="date">{{ page.date_string }}</div>
					</div>
					<figure class="image-intro">
						<img src="{{ url_for('static', filename=page.image) }}" alt="collage art">
						<figcaption class="image-intro">collage by <a href="{{ url_for('je_suis') }}" class="lien-couleur rouge">me</a></figcaption>
					</figure>
				</section>
			{% elif page.portrait==2 %} 
				<section class="titre format-paysage">
					<div class="titre-texte">
						{% if page.titre_page %}
							<h1 class="principal">{{ page.titre_page|safe }}</h1>
						{% else %}
							<h1 class="principal">{{ page.titre|safe }}</h1>
						{% endif %}
						{% if page.soustitre_page %}
							<h2 class="sous-titre">{{ page.soustitre_page|safe }}</h2>
						{% else %}
							<h2 class="sous-titre">{{ page.soustitre|safe }}</h2>
						{% endif %}
						<div class="date">{{ page.date_string }}</div>
					</div>
					<figure class="image-intro">
						<img src="{{ url_for('static', filename=page.image) }}" alt="collage art">
						<figcaption class="image-intro">collage by <a href="{{ url_for('je_suis') }}" class="lien-couleur rouge">me</a></figcaption>
					</figure>
				</section>
			{% elif page.portrait==3 %}
				<section class="titre format-paysage">
					<div class="titre-texte">
						{% if page.titre_page %}
							<h1 class="principal">{{ page.titre_page|safe }}</h1>
						{% else %}
							<h1 class="principal">{{ page.titre|safe }}</h1>
						{% endif %}
						{% if page.soustitre_page %}
							<h2 class="sous-titre">{{ page.soustitre_page|safe }}</h2>
						{% else %}
							<h2 class="sous-titre">{{ page.soustitre|safe }}</h2>
						{% endif %}
						<div class="date">{{ page.date_string }}</div>
					</div>
				</section>
			{% endif %}
			
			<!--contenu de l'article code HTML externalisé. Tag compris-->
			<section class="article">
				{{ page.html| safe }}
			</section>

			<div id="tag" class="clear-float-right">
				<ul class="replacetext">tag</ul>
				{% for tag in page.tags %}
					<li><a href="{{ url_for('tag', tagname=tag) }}">{{tag}}</a></li>
				{% endfor %}
			</div>

			<div class="bouton">
				<a href="{{ url_for('contact') }}">
					<button class="ecris-moi">ecris-moi</button>
				</a>
			</div>
		</div>
	</div>
{% endblock maincontent %}
