{% extends "base.html" %}

<!--CSS specific-->
{% block specific_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='css/article.css') }}">
{% endblock specific_css %}

<!--titre head = titre de l'article + - Marcypolis-->
{% block headtitle %}
	<title>{{ page.titre}} - Marcypolis</title>
{% endblock headtitle %}

{% block maincontent %}
	<div id="main">

		<div id="inner">
		<!--différent modèle de titre : format portrait, format paysage ou vierge-->
			{% if page.portrait==1 %}
				<section class="titre format-portrait">
					<div class="titre-texte">
						<h1 class="principal">{{ page.titre }}</h1>
						{% if page.soustitre_page %}
							<h2 class="sous-titre">{{ page.soustitre_page|safe }}</h2>
						{% else %}
							<h2 class="sous-titre">{{ page.soustitre|safe }}</h2>
						{% endif %}
						<div class="date">{{ page.date }}</div>
					</div>
					<figure class="image-intro">
						<img src="{{ url_for('static', filename=page.image) }}" alt="collage art">
						<figcaption class="image-intro">collage by <a href="{{ url_for('je_suis') }}" class="lien-couleur rouge">me</a></figcaption>
					</figure>
				</section>
			{% elif page.portrait==0 %} 
				<section class="titre format-paysage">
					<div class="titre-texte">
						<h1 class="principal">{{ page.titre }}</h1>
						<h2 class="sous-titre">{{ page.soustitre }}</h2>
						<div class="date">{{ page.date }}</div>
					</div>
					<figure class="image-intro">
						<img src="{{ url_for('static', filename=page.image) }}" alt="collage art">
						<figcaption class="image-intro">collage by <a href="{{ url_for('je_suis') }}" class="lien-couleur rouge">me</a></figcaption>
					</figure>
				</section>

			{% endif %}
			
			<!--contenu de l'article code HTML externalisé. Tag compris-->
			<section class="article">
				{{ page.html| safe }}
			</section>

			<div id="tag" class="clear-float-right">
				<ul class="replacetext">tag</ul>

				{% for tag in page.tags %}
					<li><a href="#"></a>{{tag}}</li>
				{% endfor %}

			</div>

			<div class="bouton">
				<a href="contact.html">
					<button class="ecris-moi">ecris-moi</button>
				</a>
			</div>
		</div>
	</div>
{% endblock maincontent %}
