{% extends "base.html" %}

<!--CSS specific-->
{% block specific_css %}
<link rel="stylesheet" href="{{ url_for("static", filename="css/accueil.css") }}">
{% endblock specific_css %}

<!--Head title-->
{% block headtitle %}
Marcypolis - accueil
{% endblock headtitle %}

<!--<body> main div-->
{% block maincontent %}
<!--LIEN IMAGE à vérifier!-->

    <section id="main">
        <div class="inner">
            <div id="article">
                {% for page in pages %}
                   <article class="nouveau-post">
                        <a href="{{ url_for("page", chemin=page.path)  }}">
                            <img src="{{ url_for('static', filename=page.image) }}" alt="collage art">
                            <h2>{{ page.titre }}</h2>
                            <div class="description">
                                <p>{{ page.soustitre|safe }}</p>
                            </div>
                        </a>
                    </article>
                {% endfor %}
            </div>
        </div>
    </section>
 
    <style>
         .typed-cursor.typed-cursor--blink{
          animation: typedjsBlink 0.7s infinite;
          -webkit-animation: typedjsBlink 0.7s infinite;
                  animation: typedjsBlink 0.7s infinite;
        }
        @keyframes typedjsBlink{
          50% { opacity: 0.0; }
        }
        @-webkit-keyframes typedjsBlink{
          0% { opacity: 1; }
          50% { opacity: 0.0; }
          100% { opacity: 1; }
        }
    </style>

    <
{% endblock maincontent %}
